<% include elements/header %>
    
    <div class="jumbotron">
      <h1 class="text-white"> Restaurantes próximos</h1>
      <table>
      <tr>
      
      <td><a href="/restaurantes"> Restaurante</a></td>
      <td><a href="/restaurantes"> Distância</a></td>
      <th></th>
      <th></th>
      
      </tr>
      
      </table>
    </div>
    

<% include elements/footer %>