<% include elements/header %>
   <session> 
    <div class="jumbotron">
      <h1 class="text-white"> Restaurantes próximos</h1>
      <table>
      <tr>
      <td></td>
      <td></td>
      <th><a href="/restaurantes">Restaurante</a></th>
      <th><a href="/restaurantes">|  Distância</a></th>
      
      </tr>
      
      </table>
    </div>
  </session>

    <% include elements/footer %>