<% include elements/header %>
      <div class="jumbotron">
      <h1 class="text-white"> Restaurantes próximos</h1>
      <table>
      <tr>
      <td></td>
      <td></td>
      <th><a href="/restaurantes">Restaurante</a></th>
      <th><a href="/restaurantes">|  Distância</a></th>
      
      </tr>
      
      </table>
    </div>
    <br>
    <br>
    <br>
    <% include elements/footer %>